@import 'styles';

//////////////About Main Section
.about-gurukal {
  --space: 25rem;
  display: flex;
  position: relative;

  /// Information of the Sri Rayuru

  &__info {
    margin-left: var(--space);
    padding-left: 2rem;
  }
}

///////////// navigation of Guru
.side-nav {
  position: fixed;
  left: 0;
  max-width: var(--space);
  background-color: $color-accent-red;
  height: 80vh;
  display: block;
  color: white;
  padding: 1rem;

  &__navigation {
    display: flex;
    flex-direction: column;
  }

  &__list {
    padding: 1rem;
  }
}

.section__about {
}
