<div class="about-gurukal" *ngIf="info$ | async as info">
  <section class="side-nav">
    <ul class="side-nav__navigation">
      <li [routerLink]="'.'" [fragment]="data.id" *ngFor="let data of info" class="side-nav__list">
        <a class="side-nav__item">{{ data.title }}</a>
      </li>
    </ul>
  </section>

  <div class="about-gurukal__info pd-md">
    <section class="section__about pd-bt-lg" *ngFor="let data of info" [attr.id]="data.id">
      <h3 class="heading-secondary text-align-left">{{ data.title }}</h3>
      <p [innerHTML]="data.description" class="paragraph"></p>
    </section>
  </div>
</div>
